th, td {
    text-align: center;
}

.container {
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

.btn a {
    text-decoration: none;
    color: #FFFFFF;
}
