@font-face {
    font-family: Vazir-Regular;
    src: url(../font/Vazir-Regular.ttf) format('truetype');
}

body {
    height: 994px;
    display: flex;
    direction: rtl;
    font-family: Vazir-Regular, sans-serif !important;
    background-image: linear-gradient(135deg, #ec77ab 10%, #7873f5 100%);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px;
    background-color: #FFFFFF;
    margin: 100px;
}

.btn-outline-primary a {
    text-decoration: none;
}

.btn-outline-primary a:hover {
    color: #FFFFFF;
}

.btn-outline-primary {
    margin: 20px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}
